<!-- footer-links.njk -->
<footer class="footer">
  <div>
    <ul>
      {%- for item in site.footerLinks -%}
        {%- set externalAttribute = '' -%}

        {%- if item.external -%}
          {%- set externalAttribute = 'target="_blank" rel="noopener noreferrer external"' -%}
        {%- endif %}
        <li>
          <a href="{{ item.url | url }}" {{ externalAttribute | safe }}>{{ item.text }}</a>
        </li>
      {%- endfor %}
    </ul>
  </div>
</footer>
<!-- /footer-links.njk -->