<ul class="hero__social-links">
  {% if site.socialLinks %}
    {% for item in site.socialLinks %}
      {% set externalAttribute = '' %}

      {% if item.external %}
        {% set externalAttribute = 'target="_blank" rel="noopener noreferrer external"' %}
      {% endif %}

      <li>
        <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
      </li>
    {% endfor %}
  {% endif %}

  {% if site.footerLinks %}

    {% for item in site.footerLinks %}
      {% set externalAttribute = '' %}

      {% if item.external %}
        {% set externalAttribute = 'target="_blank" rel="noopener noreferrer external"' %}
      {% endif %}

      <li>
        <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{%- if site.showFooterAttribution -%}
  <p class="footer__attribution">
    Created by
    <a href="https://twitter.com/yinkakun" target="_blank" rel="noopener">Yinka,</a>
    Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty,</a>
    Checkout <a href="https://github.com/yinkakun/eleventy-duo" target="_blank" rel="noopener noreferrer">project's github repo </a>
  </p>
{%- endif -%}
