    <meta name="commit.hash" content="{{gitinfo.abbrevHash}}" />
    <meta name="commit.datetime" content="{{gitinfo.authorDate}}" />
    <meta name="commit.author" content="{{gitinfo.authorName}}" />
    <meta name="commit.message" content="{{gitinfo.subject}}" />
