{%- if site.headerLinks %}
  <nav class="nav">
    <ul class="nav__list">
      {%- for item in site.headerLinks %}
        {% set currentAttribute = '' %}
        {% set externalAttribute = '' %}

        {%- if item.external %}
          {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
        {% endif -%}

        {%- if page.url == item.url %}
          {% set currentAttribute = 'aria-current="page"' %}
        {% endif -%}

        <li class="nav-item">
          <a href="{{ item.url | url }}" {{ currentAttribute | safe }} {{ externalAttribute | safe }}>{{ item.text }}</a>
        </li>
      {% endfor -%}
    </ul>
  </nav>

{% endif -%}
