{#
    create JSON output for the Javascript that displays the graph
    I'm using the URL to provide IDs for the node objects.


 #}

{%- set nodes = [] -%}
{%- set edges = [] -%}

{%- for currentNote in collections.notes -%}
    {%- set idx = loop.index0 %}

    {%- set node = "{" %}
    {%- set node = node + ('"id": "' + currentNote.data.page.url + '",') %}
    {%- set node = node + ('"path": "' + currentNote.data.page.url + '",') %}
    {%- set node = node + ('"label": "' + currentNote.data.title + '"') %}
    {%- set node = node + "}" %}
    {%- set nodes = (nodes.push(node), nodes) %}

    {%- for link in currentNote.data.backlinks -%}
        {%- set edge = "{" %}
        {%- set edge = edge + ('"source": "' + currentNote.data.page.url + '",') %}
        {%- set edge = edge + ('"target": "' + link.url + '"') %}
        {%- set edge = edge + "}" %}
        {%- set edges = (edges.push(edge), edges) %}
    {%- endfor -%}

{%- endfor -%}



{
    "nodes": [{{ nodes | safe }}],
    "edges": [{{ edges | safe }}]
}
