{% macro card(post) %}
{% set image = post.data.banner %}


    {% set url = post.url if post.url else
        "/" %}
    {% set title = post.data.title if post.data.title else
        "" %}
    {% set date = post.data.date %}

    <div class="post-card alt">
      {% if image.src %}
        <div class="meta">
            <div class="photo" style="background-image: url({{image.thumb}})">
              <!--<img src="{{image.thumb}}" class="square-image"/>-->
            </div>
            <ul class="details">
                {%if date %}
                    <li class="date">{{ date | readableDate }}</li>
                {% endif %}
                {%if post.tags %}
                    <li class="tags">
                        <ul>
                            {% for tag in post.tags %}
                                <li>
                                    <a href="#">{{ tag }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li>{{ post | readingTime }} read</li>
            </ul>
        </div>
        {% endif %}
        <div class="description {% if not image.src %}full{% endif %}">
            <h1><a href="{{url}}">{{ post.data.28d }}. {{ title }}</a></h1>
            <p>{{ date | readableDate }} - {{post.templateContent | striptags | wordcount }} words</p>
            <p>{{ post.templateContent | excerpt }}</p>
            <p class="read-more">
                <a href="{{url }}">Read more</a>
            </p>
        </div>
    </div>


{% endmacro %}
