{% macro card(post, thumb) %}

    {% set url = post.url if post.url else
        "/" %}
    {% set title = post.data.title if post.data.title else
        "" %}
    {% set date = post.data.date %}

    <div class="post-card alt">
        <div class="meta">
            <div class="photo"{% if thumb.src %} style="background-image: url({{thumb.src}})"{% endif %}></div>
            <ul class="details">
                {%if date %}
                    <li class="date">{{ date | readableDate }}</li>
                {% endif %}
                {%if post.tags %}
                    <li class="tags">
                        <ul>
                            {% for tag in post.tags %}
                                <li>
                                    <a href="#">{{ tag }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li>{{post.templateContent | striptags | wordcount }} words</li>
            </ul>
        </div>
        <div class="description">
            <h1><a href="{{url}}">{{ title }}</a></h1>
            <p>{{ date | readableDate }} - {{post.templateContent | striptags | wordcount }} words</p>
            <p>{{ post.templateContent | excerpt }}</p>
            <p class="read-more">
                <a href="{{url }}">Read more</a>
            </p>
        </div>
    </div>


{% endmacro %}
