html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  background-color: var(--background);
}

body {
  background-color: var(--background);
}
/*
body::-webkit-scrollbar {
  width: 6px;
} */

body {
  /* scrollbar-width: thin;
  scrollbar-color: color-mod(var(--color) alpha(90%)) var(--background); */
  height: 100%;
}
/*
body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: color-mod(var(--color) alpha(90%));
} */

*,
*:before,
*:after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  border-color: currentColor;
  margin: 0;
  padding: 0;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  /* purgecss ignore current */
  width: 100%;
  border: none;
  background: var(--text);
  opacity: 0.2;
  height: 1px;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
  transition: all 200ms linear;
  text-decoration: underline;
}

a:hover {
  color: var(--highlight);
}

ol {
  /* purgecss ignore current */
  list-style-position: outside;
  padding-left: 1.2rem;
}

ol ol {
  list-style-type: lower-alpha;
}

ul {
  margin-top: 1.2rem;
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 1.2rem;
}

b,
strong {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
  overflow-x: auto;
  min-width: 100%;
  /* border: 1px solid color-mod(var(--color) alpha(30%)); */
  margin-top: 1rem;
}

table caption {
  margin-top: 1rem;
}

td,
th {
  /* border: 1px solid color-mod(var(--color) alpha(30%)); */
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: 500;
}

td:only-child {
  text-align: center;
}
/* purgecss start ignore */
* + h1,
* + h2 {
  margin-top: 5rem;
}

* + h3,
* + h4,
* + h5 {
  margin-top: 3rem;
}

* + p {
  margin-top: 2rem;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: 1rem;
}
/* purgecss end ignore */
iframe,
audio,
video,
img {
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
}

/* purgecss start ignore */
blockquote {
  font-family: var(--serif);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-left: 3px solid var(--secondary-light);
  background-color: var(--secondary-dark);
}

blockquote h2 {
  font-size: var(--text-xl);
}

blockquote p {
  font-size: var(--text-lg);
  color: var(--primary-light);
}
/* purgecss end ignore */
pre {
  white-space: pre-wrap;
  tab-size: 2;
  font-size: 0.95rem;
  /* border: 1px solid color-mod(var(--color) a(10%)); */
  padding: 1rem;
  margin-top: 1rem;
}

code,
kbd {
  color: var(--accent);
  font-feature-settings: normal;
  /* background: color-mod(var(--accent) a(20%)); */
  color: var(--accent);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: 0.95rem;
}

pre,
code {
  font-family: "Inconsolata", monospace;
}

pre code {
  background: transparent;
}

mark {
  background: var(--accent);
  color: var(--background);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: 0.95rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn-offline {
  margin-top: 2rem;
  min-width: 50%;
  width: 50%;
}

.btn-offline:disabled {
  background-color: none;
}
.btn-offline:disabled:hover {
  color: var(--primary-light);
  background: var(--secondary-dark);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

/* #history is in offline.njk */
#history {
  padding-top: 2rem;
}
