@import "fonts.css";
@import "variables.css";

@import "global.css";
@import "typography.css";

@import "post-list.css";
@import "hero.css";
@import "header.css";
@import "footer.css";
@import "post.css";
@import "about.css";
@import "post-card.css";
@import "form.css";
@import "theme-switcher.css";

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  background-color: var(--background);
  display: flex;
  padding: 4rem 1rem;
  flex-direction: column;
  min-width: 0;
  max-width: 48.75rem;
  margin-left: auto;
  margin-right: auto;
}

.this-is-completely-not-used {
  /* dummy class to check that purgecss is running correctly */
  padding: 73px;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
