/* #history is in offline.njk */
#history {
  padding-top: 2rem;
}

.offline span {
  cursor: pointer;
  text-decoration: underline;
}

.offline .post-list {
  top: 100px;
  left: -100vw;

  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 0.5s;
  background: var(--lowlight);
  color: var(--background);
}
.offline .post-list a:hover {
  background: var(--text);
  color: var(--background-dark);
}

html[data-theme="dark"] .offline .post-list a:hover {
  background: var(--background-light);
  color: var(--highlight);
}

.offline .post-list ul {
  width: 50vw;
  margin: 5rem;
}

.offline .post-list.on-screen {
  left: 0vw;
}

.offline .article {
  transition: 0.5s;
  opacity: 0;
}
.offline .article.on-screen {
  opacity: 1;
}
