:root {
  /* --accent: hsl(207.9, 100%, 42.5%);
  --background: hsl(60, 100%, 99.8%);
  --color: hsl(0, 0%, 16.1%); */

  --serif: "Lora", serif;
  --sans: "IBM Plex Sans", sans-serif;

  --white: #ffffff;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 5rem;

  /* https://convertacolor.com/#/hex/799B2C */
  /* https://webaim.org/resources/contrastchecker/ */
  /* https://material.io/resources/color/#!/?view.left=1&view.right=1&primary.color=22161A&secondary.color=E9EFE6 */

  --primary: hsl(340, 21%, 11%); /* #22161A */
  --primary-light: hsl(343, 10%, 26%); /* #493C3F */
  --primary-dark: hsl(0, 0%, 0%); /* #000000 */

  --secondary: hsl(100, 22%, 92%); /* #E9EFE6 */
  --secondary-light: hsl(0, 0%, 100%); /* #FFFFFF */
  --secondary-dark: hsl(100, 6%, 72%); /* #B6BCB3 */

  /* [data-theme=default] aka "light" */
  --background: var(--secondary);
  --background-light: var(--secondary-light);
  --background-dark: var(--secondary-dark);
  --text: var(--primary);
  --highlight: var(--primary-dark);
  --lowlight: var(--primary-light);
}

html[data-theme="dark"] {
  --background: var(--primary);
  --background-light: var(--primary-light);
  --background-dark: var(--primary-dark);
  --text: var(--secondary-dark);
  --highlight: var(--secondary-light);
  --lowlight: var(--secondary-dark);
}
