---
permalink: /all/
title: All Posts
description: A list of all posts on the site
---

{% extends "../layouts/base.njk" %}

{% block content %}

  <h1>All Posts</h1>

  <div class="tags">
    {% include "tags-list.njk" %}
  </div>

  {% set postslist = collections.posts %}
  {% include "posts-list.njk" %}

{% endblock content %}