---
permalink: /notes/
title: All Notes
description: A list of all notes growing on the site
---

{% extends "../layouts/notes-base.njk" %}

{% block content %}

  <h1>All Notes</h1>

  <p>These notes are unfinished thoughts being published as they're gathered. Some of them may be interesting. Some may even be useful. But they are <em>works in progress - take nothing at face value</em>.</p>

  {% set list = collections.notes %}
  {% include "notes-list.njk" %}

{% endblock content %}