---
title: You're offline
permalink: /offline/
eleventyExcludeFromCollections: true
---

{% extends "../layouts/base.njk" %}

{% block content %}

<h1>{{ title }}</h1>

<p>It looks like you’re not connected to the Internet, so we can’t reach 28-days.netlify.app at the moment, and the page you requested has not yet been saved for offline reading.</p>

{% endblock content %}
