---
title: You're offline
permalink: /offline/
eleventyExcludeFromCollections: true
---

{% extends "../layouts/base.njk" %}

{% block content %}

<h1>{{ title }}</h1>

<p>It looks like you’re not connected to the Internet, so we can’t reach {{ site.url }} at the moment, and the page you requested has not yet been saved for offline reading.</p>

<p>However, you can still read these pages:</p>
<div id="history"></div>
<script type="application/javascript">
  caches.open("pages")
  .then( pagesCache => {
    pagesCache.keys()
    .then(keys => {
      let markup = "";

      keys.forEach((request) => {
        const data = JSON.parse(localStorage.getItem(request.url));
        if(data) {
          markup += `<h4><a href="${request.url}">${data.title}</a></h4>`;
          markup += `<p>${data.description}</p>`;
          markup += `<span>${data.updated}</span>`;

        }
      });
      document.querySelector("#history").innerHTML = markup;
    })
  })
</script>

{% endblock content %}
