---
title: You're offline
permalink: /offline/
eleventyExcludeFromCollections: true
---

{%- set extraScripts = "test.js" -%}

{% extends "../layouts/base.njk" %}

{% block content %}

<h3>{{ title }}</h3>

<p>It looks like you’re not connected to the Internet, so we can’t reach {{ site.url }} at the moment, and the page you requested has not yet been saved for offline reading. Instead, try selecting an article from the sidebar.</p>

<hr>

<div class="main offline" x-data="init();" x-init="getPosts();">
        <template x-model="post" x-if="showPost">
            <div>
                <h2 x-text="post.title"></h2>
                <p x-text="post.published"></p>
                <div x-html="post.content"></div>
                <hr>
            </div>
        </template>

        <ul class="post-list">
            <template x-for="result in results">
                <li>
                    <div>
                        <a :href="result.url" x-on:click.prevent="getPost(result.url);">
                            <b x-text="result.title">--title--</b>
                        </a><br>
                        <!--<span x-text="result.description">--description--</span>-->
                    </div>
                </li>
            </template>
        </ul>
    </div>


{#
<p>However, you can still read these pages:</p>
<div id="history"></div>
<script type="application/javascript">
  caches.open("pages")
  .then( pagesCache => {
    pagesCache.keys()
    .then(keys => {
      let markup = "";

      keys.forEach((request) => {
        const data = JSON.parse(localStorage.getItem(request.url));
        if(data) {
          markup += `<h4><a href="${request.url}">${data.title}</a></h4>`;
          markup += `<p>${data.description}</p>`;
          markup += `<span>${data.updated}</span>`;

        }
      });
      document.querySelector("#history").innerHTML = markup;
    })
  })
</script>
#}

{% endblock content %}
