<!DOCTYPE html>
<!-- {{page.inputPath}} -->
<html lang="en">
  <head>
    <title>
      {{-  title  | escape }}
      {%- if title %} | {{ site.name }}
      {%- else -%}
        {{- site.name -}}
      {%- endif -%}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if not draft -%}
      {% include "meta-head.njk" -%}
    {%- endif %}

    <link rel="canonical" href="{{ page.url | url | absoluteUrl(site.url) }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="preconnect" href="https://in.getclicky.com"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="serviceworker" href="/serviceworker.js">

    {% bundledjs "main" %}
    {% bundledcss "head" %}
  </head>

  <body
    x-cloak
    x-data="setUp();"
    @load.window="setTimeout(function(){ show = true}, 500)"
    @flash.window="show = false;changePage($event)"
    x-show.transition.opacity.duration.450ms="show"
  >
    <div class="layout-wrapper">

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>
          {% include "header-links.njk" -%}
        </div>
      </header>


      <main class="main">
        {% block content %}{% endblock content %}
      </main>

      <footer class="footer">
        <div class="footer__content">
          {% include "footer-links.njk" %}
        </div>
      </footer>
    </div>



    {% bundledcss "foot" %}

    {# if we need page specific scripts, they should be called here, after the styles have been brought in e.g.

    {% if permalink == "/stats/" %}
      {% bundledjs "stats" %}
    {% endif %}
    #}


    {% clickystats %}

    {% set script %}
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js')
      .then(
        function (registration) {
          console.log('Success!', registration.scope);
        }
      )
      .catch(
        function (error) {
          console.error('Failure!', error);
        }
      );
      if(navigator.serviceWorker.controller) {
        window.addEventListener("load", function() {
          navigator.serviceWorker.controller.postMessage("clean up caches");
        });
      }
    }
    {% endset %}
  <script>{{ script | jsmin | safe }}</script>
  </body>
</html>
