<!DOCTYPE html>
<!-- {{page.inputPath}} -->
<html lang="en">
  <head>
    <title>
      {{-  title  | escape }}
      {%- if title %} | {{ site.name }}
      {%- else -%}
        {{- site.name -}}
      {%- endif -%}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if not draft -%}
      {% include "meta-head.njk" -%}
    {%- endif %}

    <link rel="canonical" href="{{ page.url | url | absoluteUrl(site.url) }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://in.getclicky.com">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="serviceworker" href="/serviceworker.js">
    <link rel="manifest" href="/manifest.json">

    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-ipad-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-iphone-retina-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-ipad-retina-152x152-precomposed.png">

    {% if type == "post" %}
      <link rel="x-json-version" href="{{ page.url | jsonpath }}">
    {% endif %}
    {% bundledjs "main.js" %}
    {% bundledcss "head" %}
  </head>

  <body
    x-cloak
    x-data="setUp();"
    @load.window="setTimeout(function(){ show = true}, 500)"
    @flash.window="show = false;changePage($event)"
    x-show.transition.opacity.duration.450ms="show"
  >
    <div class="layout-wrapper">

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>
          {% include "header-links.njk" -%}
        </div>
      </header>

      <main class="main">
        {% block content %}{% endblock content %}
      </main>

      <footer class="footer">
        <div class="footer__content">
          {% include "footer-links.njk" %}
        </div>
      </footer>
    </div>

    {% bundledcss "foot" %}

    {# if we need page specific scripts, they should be called here, after the styles have been brought in e.g. #}
    {% if extraScripts -%}
      {% bundledjs extraScripts %}
    {%- endif %}

    {% clickystats %}

  </body>
</html>