{% set banner = images[page.fileSlug] -%}

<!DOCTYPE html>
<!-- {{page.fileSlug}} -->
<html lang="en">
  <head>
    <title>
      {{-  title  | escape }}
      {%- if title %} | {{ site.name }}
      {%- else -%}
        {{- site.name -}}
      {%- endif -%}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if not draft -%}
      <meta name="buildtime" content="{{site.buildtime | readableDateTime}}">
      {% include "gitinfo.njk" %}
      <meta name="date.created" content="{{page.date}}"/>
      <meta name="date.updated" content="{{lastModified}}"/>
      {% include "meta-head.njk" -%}
    {%- endif %}

    <link rel="canonical" href="{{ page.url | url | absoluteUrl(site.url) }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="icon" type= “image/x-icon” href="/images/favicon.ico">
    {% bundledcss %}
  </head>
  <body>
    <div class="layout-wrapper"{% if banner %} style="background-image: url('{{ banner.src }}')"{% endif %}>

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>
          {% include "header-links.njk" -%}
        </div>
      </header>


      <main class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <div class="footer__content">
          {% if banner %}{{ banner.attribute | safe }}
          {% endif %}

          {% include "footer-links.njk" %}
        </div>

      </footer>
    </div>

    {# {% bundledjs %} #}
    {% clickystats %}
  </body>
</html>
