---
layout: base.njk
---

<div class="contact">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</div>

<div class="form-holder">
<form id="contact-form" name="contact" method="POST" data-netlify="true" action="/thanks/">
  <div class="inner-wrap">
    <label>Name<input type="text" name="name" /></label>
    <label>Email<input type="email" name="email" /></label>
  </div>
  <div class="inner-wrap">
    <label>Message<textarea name="message"></textarea></label>
      <button type="submit">{{ submitText }}</button>
    </div>
</form>
<div id="thanks-message">
  <h2>Thanks for sending your feedback</h2>
</div>
</div>
