{% set css_to_bundle = "notes" %}
<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>

        {% include "header-links.njk" %}
        <nav>
            <div>
                <a class="internal-link" href="{{ site.baseurl }}/">
                    <b>{{ site.name }}</b>
                </a>
            </div>
        </nav>

        <div class="wrapper">
            <main>
                {% block content %}{% endblock content %}
            </main>
            <footer>{% include "footer-links.njk" %}</footer>
        </div>

        {% set wrapperQuerySelector = "content" %}
        {% include "link-previews.njk" %}
    </body>
</html>