{% extends "./base.njk" %}

{% block content %}

  <article class="post h-entry">
    <header class="post__header p-name">
      <h1>{{28d}}. {{ title }}</h1>

      <div class="post__details">
        <time datetime="{{ page.date | htmlDateString }}" class="dt-published">
          {{ page.date | readableDate }}
        </time>
        <p style="display:none">Published by <a class="p-author">James Knight</a>
        </p>
        <p style="display:none" class="p-summary">{{ content | excerpt | safe  }}</p>
        <span> | </span>
        <span>{{ content | readingTime }} read</span>
        {#%- if status %}
          <br><br>
      Status: <span class="{{ status }}">{{ status }}</span>
        {%- endif %#}
      </div>

    </header>

    <main class="post__content e-content">
      {{ content | safe }}
    </main>

    <aside class="post__aside">
      <div class="post__tags">
        {% for tag in tags | pageTags %}
          {% set tagUrl %}/tags/{{ tag | slug}}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {% endfor %}
      </div>

      <nav class="post__pagination">

        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if previousPost %}

          <a href="{{ previousPost.url | url }}"class="no-underline">
            <span>←</span>
            <span class="underline">{{ previousPost.data.title }}</span>
          </a>

        {% endif %}

        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- if nextPost %}

          <a href="{{ nextPost.url | url }}" class="no-underline">
            <span class="underline">{{ nextPost.data.title }}</span>
            <span>→</span>
          </a>

        {% endif %}
      </nav>
    </aside>

  </article>
{% endblock content %}