@import "./Big Sur Aesthetic.css";

.theme-dark {
  --default-font: "Source Sans Pro", "Metropolis", "Fira Code", "Avenir LT Std";
  --background-primary: rgb(30, 32, 34);
  --text-normal: #ccc;
  --font-monospace: "Fira Code";
}

html,
body {
  font-family: "Avenir Next LT Pro";
  font-family: var(--default-font);
}

blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote {
  margin-inline-start: 0;
}
.markdown-preview-view blockquote {
  margin-inline-start: 0;
}
